# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

# Supabase 
# Supabase unfortunately needs a shadow_db to work with prisma
DATABASE_URL=""
SHADOW_DATABASE_URL=""
SUPABASE_PUBLIC_URL=""
SUPABASE_SECRET_KEY=""


# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"


# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
# Next Auth Facebook Provider
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# Next Auth LinkedIn Provider
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""